torch
transformers
datasets
sentence-transformers
langchain
langchain-community
langchain-huggingface
langchain-core
langgraph
faiss-cpu
pandas
numpy
scikit-learn
tqdm
jupyter
langchain-openai
chromadb 
langchain-chroma 